<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Admin Panel</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
  <script defer src="../static/scripts.js" th:src="@{/scripts/common.js}"></script>
  <link rel="stylesheet" href="../static/styles/main.css" th:href="@{/styles/main.css}">
</head>
<body>
<div class="container">
  <ul class="menu">
    <li class="menu-logo-container">
      <a href="#" th:href="@{/}">
        <i class="fas fa-film logo"></i> MovieClub
      </a>
    </li>
    <li class="menu-toggle">
      <a href="#"><i id="toggle-icon" class="far fa-plus-square"></i></a>
    </li>
    <li class="menu-item">
      <a href="#" th:href="@{/genres}">Genres</a>
    </li>
    <li class="menu-item">
      <a href="#">Top 10</a>
    </li>
    <li class="menu-item">
      <a href="#" th:href="@{/admin}">Admin Panel</a>
    </li>
    <li class="menu-item">
      <a href="#">Login</a>
    </li>
  </ul>
  <header class="jumbotron">
    <h1 class="jumbotron-header">Movie Club</h1>
    <p class="jumbotron-description">
      Welcome to the best movie database on the web. Rate and discuss the latest productions and cinema classics.
    </p>
  </header>
  <main class="main-content">
    <h2 class="list-heading">Add New Movie</h2>
    <form action="" method="post" enctype="multipart/form-data" class="mc-form" th:object="${movie}">
      <label for="title">Title</label>
      <input type="text" id="title" placeholder="Example title" th:field="*{title}">
      <label for="originalTitle">Original Title</label>
      <input type="text" id="originalTitle" placeholder="Example original title" th:field="*{originalTitle}">
      <label for="releaseYear">Release Year</label>
      <input type="number" id="releaseYear" placeholder="2019" th:field="*{releaseYear}">
      <label for="genre">Genre</label>
      <select id="genre" th:field="*{genre}" required>
        <option value="" hidden>Select genre</option>
        <option th:each="genre: ${genres}" th:value="${genre.name}" th:text="${genre.name}"></option>
      </select>
      <label for="promoted">Promote on homepage?</label>
      <input id="promoted" type="checkbox" th:field="*{promoted}">
      <label for="trailerId">YouTube Trailer ID</label>
      <input type="text" id="trailerId" placeholder="abcdefgh" th:field="*{youtubeTrailerId}">
      <label for="shortDescription">Short Description - max 200 characters</label>
      <textarea id="shortDescription" rows="5" th:field="*{shortDescription}"></textarea>
      <label for="description">Full Description</label>
      <textarea id="description" rows="10" th:field="*{description}"></textarea>
      <button type="submit">Add</button>
    </form>
  </main>
</div>
</body>
</html>